
*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 14px;
}
ul li {
  list-style: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

.tabbar-active{
  color: #00a1d6;
}